$icomoon-font-family: "md" !default;
$icomoon-font-path: "fonts" !default;

$md-icon-ellipsis-vertical: unquote('"\\e90e"');
$md-icon-ellipsis: unquote('"\\e910"');
$md-icon-badge-percent: unquote('"\\e900"');
$md-icon-badge-dollar: unquote('"\\e901"');
$md-icon-badge-check: unquote('"\\e903"');
$md-icon-ad: unquote('"\\e909"');
$md-icon-pro: unquote('"\\e90a"');
$md-icon-markdown: unquote('"\\e905"');
$md-icon-heart-empty: unquote('"\\e801"');
$md-icon-github: unquote('"\\e802"');
$md-icon-pin: unquote('"\\e803"');
$md-icon-ok: unquote('"\\e804"');
$md-icon-phone: unquote('"\\e806"');
$md-icon-youtube: unquote('"\\e807"');
$md-icon-tumblr: unquote('"\\e808"');
$md-icon-vimeo: unquote('"\\e809"');
$md-icon-flickr: unquote('"\\e80a"');
$md-icon-wordpress: unquote('"\\e80b"');
$md-icon-dribbble: unquote('"\\e80c"');
$md-icon-pencil: unquote('"\\e80d"');
$md-icon-angle-down: unquote('"\\e80e"');
$md-icon-angle-right: unquote('"\\e80f"');
$md-icon-cancel: unquote('"\\e810"');
$md-icon-chat: unquote('"\\e811"');
$md-icon-clock: unquote('"\\e812"');
$md-icon-search: unquote('"\\e813"');
$md-icon-mail-alt: unquote('"\\e814"');
$md-icon-menu: unquote('"\\e815"');
$md-icon-angle-left: unquote('"\\e816"');
$md-icon-angle-up: unquote('"\\e817"');
$md-icon-user-add: unquote('"\\e818"');
$md-icon-user: unquote('"\\e819"');
$md-icon-star: unquote('"\\e81b"');
$md-icon-share: unquote('"\\e81c"');
$md-icon-eye: unquote('"\\e81e"');
$md-icon-speakerdeck: unquote('"\\e81f"');
$md-icon-like: unquote('"\\e820"');
$md-icon-heart: unquote('"\\e821"');
$md-icon-download: unquote('"\\e822"');
$md-icon-bolt: unquote('"\\e823"');
$md-icon-trophy: unquote('"\\e824"');
$md-icon-cart: unquote('"\\e825"');
$md-icon-volume-up: unquote('"\\e826"');
$md-icon-url: unquote('"\\e827"');
$md-icon-book: unquote('"\\e828"');
$md-icon-tags: unquote('"\\e829"');
$md-icon-key: unquote('"\\e82a"');
$md-icon-loading: unquote('"\\e832"');
$md-icon-telegram: unquote('"\\e839"');
$md-icon-tiktok: unquote('"\\e83a"');
$md-icon-slack: unquote('"\\e83c"');
$md-icon-facebook: unquote('"\\f09a"');
$md-icon-rss: unquote('"\\f09e"');
$md-icon-linkedin: unquote('"\\f0e1"');
$md-icon-bell: unquote('"\\f0f3"');
$md-icon-quote: unquote('"\\f10e"');
$md-icon-reply: unquote('"\\f112"');
$md-icon-code: unquote('"\\f121"');
$md-icon-exclamation: unquote('"\\f12a"');
$md-icon-skype: unquote('"\\f17e"');
$md-icon-pinterest: unquote('"\\f231"');
$md-icon-whatsapp: unquote('"\\f232"');
$md-icon-medium: unquote('"\\f23a"');
$md-icon-hand: unquote('"\\f256"');
$md-icon-clonesolid: unquote('"\\e941"');
$md-icon-clone: unquote('"\\f24d"');
$md-icon-mail: unquote('"\\f0e0"');
$md-icon-times-circle-solid: unquote('"\\e927"');
$md-icon-user-circle-solid: unquote('"\\e908"');
$md-icon-user-circle: unquote('"\\f2bd"');
$md-icon-check-circle-solid: unquote('"\\e907"');
$md-icon-gem: unquote('"\\e90d"');
$md-icon-arrow-square-left: unquote('"\\f33a"');
$md-icon-arrow-square-right: unquote('"\\f33b"');
$md-icon-shield-check: unquote('"\\f2f7"');
$md-icon-sign-in: unquote('"\\f090"');
$md-icon-check-circle: unquote('"\\f058"');
$md-icon-check-square: unquote('"\\f14a"');
$md-icon-comment: unquote('"\\f27a"');
$md-icon-rocket: unquote('"\\e906"');
$md-icon-twitter: unquote('"\\e800"');
$md-icon-instagram: unquote('"\\e805"');
$md-icon-badge: unquote('"\\e92d"');
$md-icon-download-alt: unquote('"\\e92f"');
$md-icon-tag: unquote('"\\e93a"');
$md-icon-moon: unquote('"\\e93c"');
$md-icon-folder-open: unquote('"\\e90b"');
$md-icon-folder: unquote('"\\e90c"');
$md-icon-amazon: unquote('"\\ea87"');
$md-icon-wikipedia: unquote('"\\eac8"');
$md-icon-home: unquote('"\\e902"');
$md-icon-camera: unquote('"\\e90f"');
$md-icon-mic: unquote('"\\e91e"');
$md-icon-book-new: unquote('"\\e91f"');
$md-icon-books: unquote('"\\e920"');
$md-icon-files-empty: unquote('"\\e925"');
$md-icon-credit-card: unquote('"\\e93f"');
$md-icon-calculator: unquote('"\\e940"');
$md-icon-setting: unquote('"\\e994"');
$md-icon-trophy-new: unquote('"\\e99e"');
$md-icon-gift: unquote('"\\e99f"');
$md-icon-fire: unquote('"\\e9a9"');
$md-icon-sun: unquote('"\\e9d4"');
$md-icon-contrast: unquote('"\\e9d5"');
$md-icon-half-sun: unquote('"\\e9d6"');
$md-icon-star-empty: unquote('"\\e9d7"');
$md-icon-star-half: unquote('"\\e9d8"');
$md-icon-star-full: unquote('"\\e9d9"');
$md-icon-heart-new: unquote('"\\e9da"');
$md-icon-heart-broken: unquote('"\\e9db"');
$md-icon-warning: unquote('"\\ea07"');
$md-icon-notification: unquote('"\\ea08"');
$md-icon-question: unquote('"\\ea09"');
$md-icon-info: unquote('"\\ea0c"');
$md-icon-cancel-circle: unquote('"\\ea0d"');
$md-icon-blocked: unquote('"\\ea0e"');
$md-icon-arrow-up-left: unquote('"\\ea39"');
$md-icon-arrow-up: unquote('"\\ea3a"');
$md-icon-arrow-up-right: unquote('"\\ea3b"');
$md-icon-arrow-right: unquote('"\\ea3c"');
$md-icon-arrow-down-right: unquote('"\\ea3d"');
$md-icon-arrow-down: unquote('"\\ea3e"');
$md-icon-arrow-down-left: unquote('"\\ea3f"');
$md-icon-arrow-left: unquote('"\\ea40"');
$md-icon-checked: unquote('"\\ea52"');
$md-icon-unchecked: unquote('"\\ea53"');
$md-icon-paypal: unquote('"\\ead8"');
$md-icon-pdf: unquote('"\\eadf"');
$md-icon-word: unquote('"\\eae1"');
$md-icon-excel: unquote('"\\eae2"');

